  body {
                background: rgb(255, 255, 255);
                color: rgb(45, 45, 45);
                padding: 10px;
                font-family: arial;
            }
            header {
                font-size: 1.5em;
                font-weight: bold;
            }
            #all-contents {
                max-width: 800px;
                margin: auto;
            }
    
            /* navigation menu */
            nav {
                background: rgb(255,255,255);
                margin: 0 auto;
                margin-bottom: 20px;
                display: flex;
                padding: 10px;
            }
            nav header {
                display: flex;
                align-items: center;
                color: rgb(0, 0, 0);
                flex: 1;
            }
            nav ul {
                list-style-image: none;
                
            }
            nav li {
                display: inline-block;
                padding: 0 10px;
            }
            nav a {
                text-decoration: none;
                align-items: center;
                color: rgb(0, 0, 0);
            }
    
            /* main container area beneath menu */
            main {
                background: rgb(245, 238, 219);
                display: flex;
            }
            .sidebar {
                margin-right: 25px;
                padding: 10px;
            }
            .sidebar img {
                width: 200px;
            }
            .content {
                flex: 1;
                padding: 15px;
            }
            .interests header {
                font-size: 1.25em;
            }
           img {border: #00000B 4px solid;}
            main {border: #00000B 3px solid;}
            nav {border: #00000B 4px solid;}
           p1{font-family: "Times New Roman";}
           h1{font-family: "Times New Roman";}
           nav header {
    font-family: "Verdna", Times, serif;}
           div {
    font-size:large;
}
  img{
    border-radius: 40px;
    background: #000000B;
}
body {
   background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwhhCFMGDv-qzUycRd1MlioiisYMwtvzkPDoPQTsj23R-3GDQ0nQ");
}